@import "tailwindcss";

@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --font-sans: "Libre Franklin", Arial, Helvetica, sans-serif;
}
