---
import { createClient } from "redis"

import Layout from '../layouts/Layout.astro';

const redis =  await createClient({ url: "redis://default:QYflkF5eLfPGohXjjMUCNQoRUTAK9I72@redis-11123.c339.eu-west-3-1.ec2.redns.redis-cloud.com:11123" }).connect();

const data = await redis.get("beers")
const beers = JSON.parse(data);
---
<Layout>
    <div class="bg-[#131e22] uppercase font-sans grid grid-cols-[1fr_1fr] items-center justify-items-center min-h-screen p-8 gap-8 ">
        { beers.map((beer, index) => (
            <div key={index} class="flex flex-col w-full h-full items-start gap-3">
                <h1 class="text-[#e66436] text-[36px]">{ beer.name }</h1>
                <h2 class="text-[#efe7cf] text-[24px]">{ beer.style }</h2>
                <div class="flex flex-col w-full gap-5">
                { beer.fields.map((field) => (
                    <div key={field.key} class="grid grid-cols-[1fr_3fr] w-full min-h-24 gap-h-4 text-[18px] font-medium">
                        <div class="bg-[#829797] text-[#efe7cf] flex items-center justify-center p-2">
                            { field.key }
                        </div>
                        <div class="bg-[#ffffff] text-[#152128] flex items-center justify-center p-2">
                            { field.value }
                        </div>
                    </div>
                )) }
                </div>
            </div>
        )) }
    </div>
</Layout>
